@import "./assets/utilities/colorVar.module";
.appWrapper {
  background-color: $color_1;

  height: 100vh;
}
.appContent {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}
.main {
  flex: 1 0 auto;
}
