@import "../../assets/utilities/colorVar.module";

.movieDetailsWrapper {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  display: flex;
  color: $text_color;

  .poster {
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    img {
      height: 100%;
      border-radius: 15px;
    }
  }

  .movieDetails {
    padding: 0 20px 0 20px;
    overflow-y: scroll;
    h2 {
      padding-bottom: 10px;
      color: $title_text_color;
      border-bottom: 1px solid $color_2;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;
      padding-top: 15px;
      li {
        list-style-type: none;
        display: block;
        padding: 5px 0;
        text-align: justify;

        span {
          font-weight: bold;
          color: $title_text_color;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0px 5px 15px 5px;

      flex-wrap: wrap;

      .btn {
        text-decoration: none;
        border: 1px solid $color_4;
        background: none;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        cursor: pointer;
        color: $text_color;
        font-size: 18px;
        transition-duration: 0.25s;
        line-height: 50px;
        text-align: center;
        margin: 20px 20px 0 20px;

        &:hover {
          transform: scale(1.1);
          transition-duration: 0.25s;
          background: $color_4;
        }
      }
    }
  }
}

.scoreGreen {
  color: green;
}
.scoreYellow {
  color: yellow;
}
.scoreRed {
  color: red;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .movieDetailsWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .poster {
      width: 100%;
      height: auto;
      img {
        height: auto;
        width: 100%;
        border-radius: 15px;
      }
    }

    .movieDetails {
      padding: 10px;
      overflow-y: visible;

      h2 {
        padding-top: 20px;
        text-align: center;
      }
      .buttons {
        padding: 0px 5px 0 5px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .buttons {
    .btn {
      width: 100px;
      font-size: 15px;
    }
  }
}
