@import "../../assets/utilities/colorVar.module";
.headerWrapper {
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid $color_4;
  background: $color_1;
  .logo {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 0px;
    text-decoration: none;
    color: $color_4;
    img {
      height: 35px;
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 480px) {
  .headerWrapper {
    flex-direction: column;
    min-height: 150px;
    .logo {
      font-size: 35px;
      font-weight: 500;
      text-decoration: none;
      color: $color_4;
    }
  }
}
