@import "../../assets/utilities/colorVar.module";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1900px) {
  .movieCard {
    width: 18%;
  }
  .movieDetails {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 1024px) {
  .movieCard {
    width: 50%;
  }
  .movieDetails {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .movieCard {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .movieCard {
    width: 100%;
  }
}
.movieCard {
  cursor: pointer;
  position: relative;
  color: $text_color;
  padding: 10px;

  &:hover {
    .posterWrapper {
      transform: perspective(600px) rotateY(-180deg);
    }
    .movieDetailsWrapper {
      transform: perspective(600px) rotateY(0);
    }
  }
}

.posterWrapper,
.movieDetailsWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.25s ease;
  border-radius: 10px;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

.posterWrapper {
  transform: perspective(600px) rotateY(0);

  img {
    width: 100%;
    height: 100%;
  }
}

.movieDetailsWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: perspective(600px) rotateY(180deg);

  .movieDetails {
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    border-radius: 10px;
    color: $text_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

    div {
      border-bottom: 1px solid $text_color;
      padding: 20px 0;
    }
  }

  img {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
